
.container {
    max-width: 4000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
body{
        margin: 0px;
    background-color: floralwhite;
}

h1{
    margin-top: 500px;
    margin-left: 510px;
    font-size: 60px;
    font-family: 'karla', sans-serif;
    font-weight: lighter;
}

.background{
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 10px;
    margin-top: 5px;

}

/*-------- SLIDE ANIMATION --------*/

@-webkit-keyframes slide_animation{
    0%{left: 0px;}
    10% {left: 0px;}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 200px;}
    50% {left: 200px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left: 0px;}
}

.background{
    width: 3000px;
    height: 800px;
    margin: 0 0 0 --2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;

}

.background{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}
/*-------------- END OF ANIMATION PART ---------------*/
